:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.form-group input {
  width: 100%;
  /* background: red; */
}

.form-group input[type=submit] {
  width: 100%;
  /* background: red !important; */
}

.vote {
  display: flex;
  justify-content: space-between;
}

.votes {
  display: flex;
  gap: .5rem;
}

.overflow {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;

  text-overflow: ellipsis;
}

.proposer {
  word-wrap: break-word;
}

.vote button {
  width: 60px;
}

.card {
  padding: .5rem;
  background: #444;
  margin-bottom: 1rem;
  border-radius: 5px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}
